<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzr.bookstore.mapper.CategoryMapper">
    <insert id="addCategory" parameterType="Category">
        insert into mall_category(name,status,navable,sort)
        values(#{name},#{status},#{navable},#{sort})
    </insert>

    <select id="getAll" resultType="Category">
        select * from mall_category
    </select>
</mapper>
